@page

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>About Page</title>
</head>

<body>
    <p style="text-indent: 50px">Jeoffrey Hamilton is a computer programming major at Lane Community College in Eugene, Oregon.</p>
    <p style="text-indent: 50px">Stay tuned for some more sophisticated games in the future!</p>
    <p style="text-indent: 50px"><a href="Index">Home</a></p>

</body>
</html>
